Version1/watermarked/*
Version2/watermarked/*
Version1/__pycache__/
Version2/__pycache__/
Version1/dumb/*
Version2/dumb/*
Version2/.venv/
*.pyc
*.pyo
*.pyd
*.jpg
*.png
*.txt
*.pth
*.whl
*.lib
*.pyi
*.ipynb
*.tmp.driveupload
*.DS_Store